<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Register the section handler for the log4net section -->
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <log4net>

      <appender name="LogVervoseReciente" type="log4net.Appender.RollingFileAppender">
        <file value=".log\ConceptMogo.log"/>
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <rollingStyle value="Size" />
        <maximumFileSize value="50MB" />
        <maxSizeRollBackups value="30" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%d [%-2t] %-5p - %m%n" />
        </layout>
        <threshold value="DEBUG"/>
      </appender>

      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
          <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
          </layout>
      </appender>

        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="FATAL" />
                <backcolor value="White" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <foreColor value="Yellow, HighIntensity" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <foreColor value="Green, HighIntensity" />
            </mapping>
            <mapping>
                <level value="INFO" />
                <foreColor value="Blue, HighIntensity" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%6t] [%-5p] - %m%n" />
            </layout>
        </appender>

        <root>
          <priority value="DEBUG" />
		  <appender-ref ref="ColoredConsoleAppender" />
          <appender-ref ref="LogVervoseReciente" />
        </root>
    </log4net>
</configuration>
